h1 {
    font-size: 4rem;
    text-align:center;
}
.portrait {
    width:95%;
}
img {
    width: 110%;
}
.resume {
    font-size:2rem;
}
i {
    color: #343a40;
}
.center {
    text-align:center;
}
#response {
    font-size: 4rem;
    text-align:center;
}