#submit {
    background-color:#000;
}
body {
    color:white;
    background-color:#343a40;
}
h1 {
    font-size: 4rem;
    text-align:center;
}
.portrait {
    width:95%;
}
img {
    width: 110%;
}
.resume {
    font-size:2rem;
}
i {
    color: #000;
}
.center {
    text-align:center;
}
#response {
    font-size: 4rem;
    text-align:center;
}
h5 {
    text-align:center;
}
p{
    font-size:1.3rem;
}
