
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#ffffff;
  background-color:#030303;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
tr.table-head {
  font-weight: bold;
  padding-bottom:0.3rem;
  background-color:#262626;
  border-bottom: 5px solid red;
}
td.name {
 column-width:0.3rem;
 column-gap:10px;
}
.name {
  font-size: 1.2rem;
  font-weight: 400;
  padding-left: 0.2rem;
  padding-right:0.2rem;
}
.attendance {
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 1rem;
  padding-right:1rem;
}
.attendance input {
  width: 2rem;
  height: 2rem;
  margin: 0.7rem;
  padding: 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  border: 1px solid #262626;
  border-radius: 0.5rem;
  background-color: #262626;
  color: #ffffff;
}

.dateLabel {
  font-size: 1rem;
  font-weight: 600;
  padding-left: 0.3rem;
  padding-right:0.3rem;
}
