
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#ffffff;
  background-color:#030303;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
tbody {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #262626;
  border-radius: 0.5rem;
  border-collapse:separate; 
  border-spacing: 0 1em;
}
tr.table-head {
  font-weight: bold;
  padding-bottom:0.3rem;
  background-color:#262626;
  border-bottom: 5px solid red;
}
td.name {
 column-gap:0px;
}
.name {
  font-size: 1.2rem;
  font-weight: 400;
  padding-left: 0.2rem;
  padding-right:0.2rem;
}
.attendance {
  font-size: 1.5rem;
  font-weight: 600;
  width:100%;
  padding-left: 1rem;
  padding-right:1rem;
}



.dateLabel {
  font-size: 1rem;
  font-weight: 600;
  padding-left: 0.7rem;
  padding-right:0.7rem;
}
input.checkbox {
  width:2rem;
  height:2rem;
  text-align:center;
  font-size:1.5rem;
  margin-left:1.1rem;
  margin-right:1.1rem;
}

.search {
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-right:1rem;
  width:100%;
}